@charset "UTF-8";
/* header */
.header{position:relative;height:50px;background:#006fe2;}
.header .sitename{display:block;width:130px;height:30px;padding-top:15px; text-align:center;margin:0 auto; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:16px}
.header .logo img{display:block;width:100%;}
.header .search{position:absolute;top:0;right:35px;z-index:1000;display:block;width:50px;height:50px;text-indent:-9999em;background:url(../images/icon-search.png) no-repeat center center;background-size:40%;}
.header .search:hover{background-color:#0067d2;}
.header .search span{display:none;}
.header .user-icon{position:absolute;top:0;right:70px;z-index:1000;display:block;width:50px;height:50px;text-indent:-9999em;background:url(../images/icon-user.png) no-repeat center center;background-size:40%;}
.header .user-icon span{display:none;}
.header .user-icon:hover{background-color:#0067d2;}
.header .back{position:absolute;top:0;left:0;display:block;width:50px;height:50px;text-indent:-9999em;background:url(../images/icon-back.png) no-repeat center center;background-size:12px 20px;}

@media (min-width:100%){body{width:100%;margin:auto;}}

.footer {padding-top:15px; text-align:center;margin:0 auto; font-family:Arial, Helvetica, sans-serif; font-size:16px;
background:#0061c1;font-size:0.85em;color:#FFF;padding:1em 0;line-height:1.5em;}



.li_title {
list-style-type:none;
font-size: 1.0em;
padding: 0.2em 0.2em 0.2em 0.2em; height: 1.9em; color: rgb(84, 84, 84); line-height: 2em; overflow: hidden; border-bottom-color: rgb(190, 190, 190); border-bottom-width: 1px; border-bottom-style: dashed; -ms-text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1;
}
.li_title a{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; 

}

.li_title a:link, .li_title a:visited,.li_title a:hover {color:#000; text-decoration:none; }


.li_classname {
font-size: 1.0em;
color:#000099; 
padding-left:6px; 
padding-top:12px;
padding-bottom:0px;
list-style-type:none;
font-weight:bold;
HEIGHT: 28px;
BACKGROUND-IMAGE: url(../images/tab.gif);background-repeat: repeat-x;background-position: bottom;
border-bottom-color: rgb(20, 142, 235); border-bottom-width: 2px; border-bottom-style: solid;
}
.li_right { float:right;padding-right:12px;font-weight:normal; font-size:0.9em;
}

.slideBox{ position:relative;overflow:hidden;margin:0 auto;width:100%;}
.slideBox .hd{ position:absolute;bottom:15px;z-index:1;width:100%;text-align:right;}
.slideBox .hd ul{ display:inline-block;text-align:center;}
.slideBox .hd li{ display:inline-block;width:8px;height:8px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background:#CCCCCC;text-indent:9999px;overflow:hidden;margin:0 3px;border:1px solid   rgba(0,0,0,0);}
.slideBox .hd li.on{ background:#002147;}
.slideBox .bd{ position:relative;z-index:0;}
.slideBox .bd li{ position:relative;text-align:center;}
.slideBox .bd li img{vertical-align:top;width:100%;}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration:none;}
.slideBox .bd li .tit{ display:block;width:100%;position:absolute;bottom:5px;text-indent:10px;height:28px;line-height:28px;color:#fff;text-align:center;z-index:3;}


.listpage {font-family: "宋体";font-size: 1.0am;line-height: 2em;text-decoration: none;text-align:center; padding-top:5px; color:#CCCCCC}
.listpage a , .listpage a:visited{font-family: "宋体";FONT-SIZE: 1.0am; COLOR: #0066cc; TEXT-DECORATION: none;}
.listpage a:hover  {font-family: "宋体";FONT-SIZE: 1.0am; COLOR: #ff0000;TEXT-DECORATION: none;}


/* button   
---------------------------------------------- */  
.button {  
    display: inline-block;  
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */  
    *display: inline;  
    vertical-align: baseline;  
    margin: 0 2px;  
    outline: none;  
    cursor: pointer;  
    text-align: center;  
    text-decoration: none;  
    font: 14px/100% Arial, Helvetica, sans-serif;  
    padding: .5em .4em .55em;  
    text-shadow: 0 1px 1px rgba(0,0,0,.3);  
    -webkit-border-radius: .5em;   
    -moz-border-radius: .5em;  
    border-radius: .5em;  
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    box-shadow: 0 1px 2px rgba(0,0,0,.2);  
}  
.button:hover {  
    text-decoration: none;  
}  
.button:active {  
    position: relative;  
    top: 1px;  
}  

/* white */  
.white {  
    color: #606060;  
    border: solid 1px #b7b7b7;  
    background: #fff;  
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));  
    background: -moz-linear-gradient(top,  #fff,  #ededed);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');  
}  
.white:hover {  
    background: #ededed;  
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));  
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');  
}  
.white:active {  
    color: #999;  
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));  
    background: -moz-linear-gradient(top,  #ededed,  #fff);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');  
}  


.arttitle {
padding-top:10px;
padding-bottom:10px;
color:#000000;
font-weight:bold;
MARGIN-left: 8px;
font-size: 1.0em;
}

.li_title a:link, .li_title a:visited,.li_title a:hover {color:#000; text-decoration:none; }


.riqi {
color:#666; 
padding-top:0px;
padding-bottom:10px;
text-align:left;
margin:0 auto;
font-size: 0.8em;
MARGIN-left: 8px;
}

.TextContent
{
font-family: "宋体";
font-size: 1.0em;
line-height: 1.5em;
text-align:justify;
text-justify:inter-ideograph;
word-break:break-all;
word-wrap: break-word;
MARGIN-RIGHT: 8px;
MARGIN-left: 8px;
}
.TextContent img { max-width: 100%; height:auto;width:auto\9;}